
*{
    margin: 0;
    padding: 0;
    width: 100%;

}
.navbar{
    background-color: wh(230, 227, 227);
    display: flex;
    align-items: center;
}
.navbar img{
    width: 120px;
}
.welcome-card{
    position:relative;
    padding:10px;
    width: 100%;
    height: 250px;
    background-color: #FFA500;
    box-shadow: 0 4px 6px #e8c687;
    display: flex;
    color: white;
    
}
.welcome-card h2{
     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 60px;
}
.welcome-card img{
    width: 180px;
    height: 200px;
    position: absolute;
    bottom: -19px;
    right: 0;
}
.cats-container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.cats-container--cards
{
    width: 80%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.cat-card{
    width: 18rem; 
    height: 15rem;
}
.cat-card--img{
    width: 18rem; 
    height: 15rem;
}
